.Cases {
  
}

.Cases div img {
  
}

// .Cases article div {
//   animation-name: frame;
//   animation-duration: 1s;
//   animation-timing-function: linear;
//   animation-fill-mode: backwards;
// }

.Cases article div:hover {
  // animation-name: frame;
  // animation-duration: 1s;
  // animation-timing-function: linear;
  // animation-fill-mode: forwards;
  // transition: all 1s;
  padding: 1rem;
  transition: padding .5s;
}

.Cases article div {
  transition: padding .5s;
  // animation-duration: 1s;
}


.Cases article p {
  
}

.Cases article {
  position: relative;
}
.Cases article p {
  & p {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    color: rgb(20, 173, 0);
    margin-left: -12rem;
    font-weight: bolder;
  }
  // & span {
  //   position: absolute;
  //   top: 48%;
  //   left: 31%;
  //   display: inline-block;
  //   background-color: rgb(0, 255, 255);
  //   height: 50px;
  //   width: 10px;
  //   display: none;
    
    
  // }
  
}

.Cases article:hover{
  & p {
    display: block;
  }
  &:hover span {
    display: block;
    animation-name: march;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
  }
}

// .Cases .content div p p {
//   // text-align: center;
//   // border: 2px solid blue;
//   & label {
//     text-align: center;
//     // border: 2px solid red;
//   }
// }.




// @keyframes frame{
//   0% {
//     padding: 0;
//   }
//   50% {
    
//   }
//   100% {
//     padding: .8rem;
//   }
// }

// @media (max-width: 838px) {
//   @keyframes frame{
//     0% {
//       padding: 0;
//     }
//     50% {
      
//     }
//     100% {
//       padding: .6rem;
//     }
//   }
// }


// @keyframes march {
//   0% {
//     left: 293px;
//   }

//   100% {
//     left: 660px;
//   }
// }

// @media (max-width: 960px) {
//   @keyframes march {
//     0% {
//       left: 320px;
//     }
  
//     100% {
//       left: 640px;
//     }
//   }
// }
// @media (max-width: 900px) {
//   @keyframes march {
//     0% {
//       left: 223px;
//     }
  
//     100% {
//       left: 585px;
//     }
//   }

//   .Cases article p { 
//     & span {
//       left: 28%;
//     }
//   }
// }
// @media (max-width: 880px) {
//   @keyframes march {
//     0% {
//       left: 200px;
//     }
  
//     100% {
//       left: 565px;
//     }
//   }

//   .Cases article p { 
//     & span {
//       left: 26%;
//     }
//   }
// }

// @media (max-width: 860px) {
//   @keyframes march {
//     0% {
//       left: 180px;
//     }
  
//     100% {
//       left: 530px;
//     }
//   }

//   .Cases article p { 
//     & span {
//       left: 24%;
//     }
//   }
// }

// @media (max-width: 840px) {
//   @keyframes march {
//     0% {
//       left: 160px;
//     }
  
//     100% {
//       left: 510px;
//     }
//   }

//   .Cases article p { 
//     & span {
//       left: 22%;
//     }
//   }
// }
// @media (max-width: 840px) {
//   @keyframes march {
//     0% {
//       left: 120px;
//     }
  
//     100% {
//       left: 495px;
//     }
//   }

//   .Cases article p { 
//     & span {
//       left: 20%;
//     }
//   }
// }



// @media (max-width: 815px) {
//   @keyframes march {
//     0% {
//       left: 190px;
//     }
  
//     100% {
//       left: 550px;
//     }
//   }

//   .Cases article p { 
//     & span {
//       left: 26%;
//     }
//   }
// }


// @media (max-width: 760px) {
//   @keyframes march {
//     0% {
//       left: 190px;
//     }
  
//     100% {
//       left: 520px;
//     }
//   }

//   .Cases article p { 
//     & span {
//       left: 30%;
//     }
//   }
// }
// @media (max-width: 730px) {
//   @keyframes march {
//     0% {
//       left: 160px;
//     }
  
//     100% {
//       left: 520px;
//     }
//   }

//   .Cases article p { 
//     & span {
//       left: 23%;
//     }
//   }
// }

// @media (max-width: 530px) {
//   @keyframes march {
//     0% {
//       left: 60px;
//     }
  
//     100% {
//       left: 420px;
//     }
//   }

//   .Cases article p { 
//     & span {
//       left: 12%;
//     }
//   }
// }


