.HomeViewImg .shadow {
  position: relative;
  top: 0;
  left: 0;
  margin: .5rem 0;
  & .welcome {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 35px;
    transition: all .2s;
    display: block;
    color: rgba(255, 255, 255, 0);
    transition: all .2s;
    // z-index: 2;
    // transform: translateY(100000px);
  }
  & .img__container {
    // position: relative;
    // top: 0;
    // left: 0;
    padding: .5rem;
    & img {
      width: 100%;
    }
    
    
  }
  & .backdrop {
    position: absolute;
    top: 6px;
    left: 6px;
    right:  6px;
    bottom:  6px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 0;
    padding: .5rem;
    transition: all .2s;

  }
  
}
.shadow:hover {
  // transition: all .2s;
  & .backdrop {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background-color: rgba(0, 0, 0, 0.215);
    z-index: 0;
    transition: all .2s;
  }
    .welcome {
      transition: all .2s;
      display: block;
      color: rgb(241, 193, 193);
      z-index: 1;
      // transform: translateY(0);
  } 
}

@media(max-width: 685px) {
  .HomeViewImg {
      & .shadow {
        position: relative;
        top: 0;
        left: 0;
        & .welcome {
          position: absolute;
          top: 50%;
          left: 35%;
          font-size: 35px;
          transition: all .2s;
          display: block;
          
          z-index: 1;
        }
      }
  }
}