.NavItem {

}

.NavItem a {
  display: inline-block;
  padding: 1rem;
  // border-bottom: 2px solid red;
  // background-color: blue;
  border-bottom: 3px solid transparent;
  
}
.NavItem a:hover {
  background-color: rgb(162, 0, 255);
}
.NavItem a.active {
  color: red;
}

